<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Students Information</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/contentStyling.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/modal.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="static/js/menu.js"></script>


    <style>
        .alert {
            padding: 20px;
            background-color: #f44336;
            color: white;
        }

        .closebtn {
            margin-left: 15px;
            color: white;
            font-weight: bold;
            float: right;
            font-size: 22px;
            line-height: 20px;
            cursor: pointer;
            transition: 0.3s;
        }

        .closebtn:hover {
            color: black;
        }
    </style>
</head>

<body>
    <div id="menu-container">
        <div id="menu-logo">
            <img src="static/images/bas.png" alt="Logo" width="150">
        </div>

        <ul id="menu-items">
            <li><a href="{{ url_for('buses.buses') }}">Buses</a></li>
            <li class="expandable">
                <i class="fas fa-users"></i>Users <span class="arrow">&#x25BE;</span>
                <ul class="submenu">
                    <li><a href="{{ url_for('parents.parents') }}"><i class="fa-solid fa-user-group"></i>Parents</a>
                    </li>
                    <li><a href="{{ url_for('drivers.drivers') }}"><i class="fa-solid fa-id-card"></i>Drivers</a></li>
                </ul>
            </li>
            <li><a href="{{ url_for('students.students') }}"><i class="fa-solid fa-children"></i>Students</a></li>
            <li style="white-space: nowrap;"><i class="fa-solid fa-chart-line"></i>Performance Dashboard</li>
            <li id="logout-button"><a href="{{ url_for('login_page') }}"><i class="fas fa-sign-out-alt"></i>Logout</a>
            </li>

        </ul>
    </div>

    <div id="infoTable-container">
        <h1>Students Information</h1>
            <!-- Search bar-->
        <div class="search-container">
            <form class="search-form" method="post" action="{{ url_for('students.students') }}">
                <form action="{{ url_for('students.clear_search') }}" method="post">
                    <input type="text" name="search_query" placeholder="Search by name">
                    <button type="submit">Search</button>
                    <button type="submit">Cancel</button>
                </form>
        </div>

        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Bus No.</th>
                    <th>Parent Phone Number</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for student in students %}
                <tr>
                    <td>{{ student.to_dict().name }}</td>
                    <td>{% for parent in parents %}
                        {% if parent.to_dict().phone_number == student.to_dict().parent_phone_number %}
                        {{ parent.to_dict().address }}
                        {% endif %}
                        {% endfor %}</td>
                    <td>{{ student.to_dict().bus_number }}</td>
                    <td>{{ student.to_dict().parent_phone_number }}</td>
                    <td>

                        <button
                            onclick="openUpdateModalStudents('{{ student.to_dict().name }}', '{{ student.to_dict().address }}', '{{ student.to_dict().bus_number }}', '{{ student.id }}')">Edit</button>
                        <div id="updateModal-{{ student.id }}" class="modal">
                            <div class="modal-content">
                                <span class="close"
                                    onclick="closeUpdateModal('updateModal-{{ student.id }}')">&times;</span>
                                <form id="updateForm-{{ student.id }}" action="/edit_student/{{ student.id }}"
                                    method="post">
                                    <label for="updateName">Name:</label>
                                    <input type="text" id="updateName-{{ student.id }}" name="name"
                                        value="{{ student.to_dict().name }}" placeholder="Name">

                                    <label for="updateAddress">Address:</label>
                                    <input type="text" id="updateAddress-{{ student.id }}" name="address"
                                        value="{{ student.to_dict().address }}" placeholder="Address">

                                    <label for="updateBusNo">Bus Number:</label>
                                    <input type="text" id="updateBusNo-{{ student.id }}" name="bus_number"
                                        value="{{ student.to_dict().bus_number }}" placeholder="Bus Number">

                                    <button type="submit">Update</button>
                                </form>
                            </div>
                        </div>
                        <form action="/delete_student/{{ student.id }}" method="post" style="display: inline;">
                            <button onclick="return confirm('Are you sure?')" type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script src="static/js/modal.js"></script>
</body>


</html>